/* colors */
.lightgrey {
  color: #F2F2F2;
}

.grey {
  color: grey;
}

/*  */
body {
  margin: 0;
  height: 100%;
  position: relative;
  background-color: #F2F2F2;
}

.restaurant, .restaurant-menu {
  max-width: 1400px;
  margin: auto;
}

/* fonts */
@font-face {
  font-family: "Shrikhand";
  src: url(./fonts/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "Roboto-thin";
  src: url(./fonts/Shrikhand/Roboto-Thin.ttf);
}
@font-face {
  font-family: "Fontawesome";
  src: url(./fonts/fontawesome/FontAwesome5Free-Regular-400.otf);
}
body, .btn {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  font-family: "Shrikhand";
}

h2 {
  font-family: "Roboto";
}

.restaurant-title h1 {
  font-family: "Shrikhand";
  font-weight: lighter;
}

.btn {
  border-radius: 25px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 0;
}
.btn-pink {
  padding: 1em;
  background: linear-gradient(350deg, #9356dc 0%, #ff79da 100%);
  color: #fff;
}
.btn-pink:hover {
  opacity: 0.9;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
}
.btn-grey {
  padding: 1.5em;
  background: #F2F2F2;
}
.btn-grey:hover {
  opacity: 0.9;
  background-color: rgba(228, 213, 246, 0.5);
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
}
.btn-infos {
  padding: 1em;
  width: 300px;
  font-weight: lighter;
}
.btn-white {
  background-color: #fff;
  width: 80%;
  margin: 1em auto;
  display: flex;
  justify-content: space-between;
}
.btn-white .btn-infos {
  transition: width 0.4s linear;
}
.btn-white .checked-fill {
  text-align: center;
  position: relative;
  color: transparent;
  background-color: #99E2D0;
  border-radius: 0 25px 25px 0;
  width: 0;
  opacity: 0;
  transition: all 0.4s linear;
}
.btn-white .fas {
  position: absolute;
  top: 33%;
  left: 33%;
  transition: all 0.4s linear;
}
.btn-white:hover .btn-infos {
  width: 220px;
}
.btn-white:hover .checked-fill {
  color: #fff;
  width: 80px;
  border-radius: 0 25px 25px 0;
  opacity: 1;
}
.btn-white:hover .fas {
  font-size: 25px;
  transform: rotate(360deg);
}
.btn-purple {
  padding: 1em;
  background: linear-gradient(350deg, #9356dc 0%, #ff79da 100%);
  color: #fff;
  text-align: center;
  width: 60%;
  max-width: 300px;
  max-height: 20px;
  margin: 0 auto 3rem auto;
}
.btn-purple:hover {
  opacity: 0.9;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
}

.btn1, .btn2, .btn3, .btn4 {
  animation: progresive-apparition 0.3s linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.btn2 {
  animation-delay: 0.2s;
}

.btn3 {
  animation-delay: 0.4s;
}

.btn4 {
  animation-delay: 0.6s;
}

@keyframes progresive-apparition {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 992px) {
  .btn-white {
    width: 80%;
  }
  .btn-white:hover .btn-infos {
    width: 500px;
  }
  .btn-infos {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .btn-white {
    width: 340px;
  }
  .btn-white:hover .btn-infos {
    width: 220px;
  }
}
.card-menu {
  border-radius: 25px;
  position: relative;
  width: 45%;
  margin: 1em auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-menu img {
  border-radius: 25px 25px 0 0;
  width: 100%;
  max-height: 240px;
  object-fit: cover;
}
.card-menu .popup {
  position: absolute;
  top: 0;
  right: 1em;
  background-color: #99E2D0;
  color: green;
  padding: 0.5em 1em;
  border-radius: 4px;
}
.card-menu .card-body {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 1em;
}
.card-menu .fas {
  position: absolute;
  background: -webkit-linear-gradient(270deg, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  right: 1em;
  top: 1em;
  font-size: 1.5em;
  transition: all 0.4s linear;
}
.card-menu .fas:hover {
  opacity: 1;
}
.card-menu .far {
  position: absolute;
  right: 1em;
  top: 1em;
  font-size: 1.5em;
}
.card-menu a {
  font-weight: lighter;
}

@media screen and (max-width: 992px) {
  .card-menu {
    width: 90%;
  }
  .card-menu img {
    width: 100%;
    max-height: 170px;
  }
}
.loading-spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: disparition 2s linear forwards;
  z-index: 1;
}
.loading-spinner::before {
  content: "LOADING";
  z-index: 2;
  text-align: center;
  color: #FF79DA;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 240px;
  overflow: hidden;
  background: #0b0b0b;
  opacity: 0.95;
}
.loading-spinner::after {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  content: "";
  z-index: 2;
  position: absolute;
  top: 250px;
  left: 50%;
  margin: -75px 0 0 -75px;
  border: 15px solid #f3f3f3;
  border-top: 15px solid #FF79DA;
  border-radius: 50%;
  animation: custom-loading 1s ease infinite;
}

@keyframes custom-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disparition {
  0% {
    opacity: 1;
  }
  90% {
    z-index: 10;
    opacity: 1;
  }
  100% {
    display: none;
    z-index: -1;
    opacity: 0;
  }
}
@media screen and (max-width: 540px) {
  .loading-spinner::before {
    padding: 240px 0;
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  position: relative;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
header .fas {
  position: absolute;
  top: 1.5em;
  left: 1em;
  color: #000;
}

.location {
  background-color: #e3e3e3;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.location > h4 {
  margin-left: 1em;
}

.selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 2em 2em 4em 2em;
  background-color: #F2F2F2;
}
.selection p {
  margin: 0.5em;
  font-weight: lighter;
}
.selection h1 {
  font-size: 25px;
  font-family: "Roboto";
}
.selection a {
  margin-top: 1em;
  text-decoration: none;
}

.operation {
  background-color: #fff;
}

.operation-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 1400px;
  margin: 1em auto;
  background-color: #fff;
  padding-top: 3em;
  padding-bottom: 3em;
}
.operation-card h2 {
  font-size: 25px;
  margin-left: 1em !important;
  font-family: "Roboto", sans-serif;
}
.operation-card .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.operation-card .fas {
  margin-right: 1em;
  color: grey;
}
.operation-card .btn {
  width: 30%;
  margin: 2em;
  text-align: center;
}
.operation-card a {
  position: relative;
}
.operation-card span {
  position: absolute;
  top: 1.4em;
  left: -0.8em;
  background: #9356DC;
  color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .operation-card .flex {
    flex-direction: column;
  }
  .operation-card .btn {
    width: 70%;
    margin: auto;
  }
}
.restaurant {
  display: flex;
  flex-wrap: wrap;
  background-color: #F2F2F2;
  margin-bottom: 0;
}
.restaurant > h2 {
  font-size: 25px;
  margin-left: 1em;
  font-family: "Roboto";
}
.restaurant .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.restaurant a {
  text-decoration: none;
  color: black;
}
.restaurant a:visited {
  color: black;
}

@media screen and (max-width: 992px) {
  .restaurant {
    justify-content: flex-start;
  }
}
.restaurant-intro {
  width: 100%;
  height: 240px;
  max-width: 1400px;
  margin: auto;
}

.palette {
  background-image: url(./imgs/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
}

.enchanted {
  background-image: url(./imgs/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
}

.frenchy {
  background-image: url(./imgs/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
}

.delicious {
  background-image: url(./imgs/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
}

.restaurant-menu {
  border-radius: 25px 25px 0 0;
  margin-top: -50px;
  width: 100%;
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.restaurant-menu h4 {
  margin: 0;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.restaurant-title {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.restaurant-title > p {
  text-align: center;
  border-radius: 25px 25px 0 0;
  width: 80%;
  background: #fff;
  padding: 1em;
  margin: 0.5em 0 0 0;
}
.restaurant-title > p b {
  font-family: "Shrikhand";
  font-size: 25px;
}
.restaurant-title > .far {
  position: absolute;
  right: 2em;
  top: 1.2em;
  font-size: 25px;
}
.restaurant-title > .fas {
  opacity: 0;
  background: -webkit-linear-gradient(270deg, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  right: 2em;
  top: 1.2em;
  font-size: 25px;
  transition: opacity 0.4s ease-in-out;
}
.restaurant-title > .fas:hover {
  opacity: 1;
}

.card-selection {
  margin-bottom: 4em;
  width: 420px;
}

@media screen and (max-width: 992px) {
  .restaurant-menu p {
    text-align: left;
  }

  .card-selection {
    width: 100%;
  }

  .restaurant-title > .far {
    right: 1em;
  }
  .restaurant-title > .fas {
    right: 1em;
  }
}
.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.details > p {
  margin-bottom: 0;
  font-size: smaller;
}
.details .details-text {
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.details b {
  font-weight: bold;
}

.underline {
  margin-left: 2em;
  line-height: 8px;
}
.underline span {
  color: #99E2D0;
}

.ordering {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .underline {
    margin-left: 5em;
  }
}
@media screen and (max-width: 576px) {
  .underline {
    margin-left: 1.5em;
  }
}
footer {
  background: linear-gradient(180deg, #212529 0%, #495057 100%);
  color: #fff;
  margin-bottom: 0;
}
footer nav {
  max-width: 1400px;
  margin: auto;
}
footer ul {
  list-style: none;
  font-family: "Roboto";
  padding: 2em;
}
footer li {
  margin: 0.5em;
}
footer li > a {
  text-decoration: none;
  color: #fff;
}
footer .fas {
  margin-right: 0.5em;
  width: 12px;
}

/*# sourceMappingURL=style.css.map */
