/* colors */

$white:     #fff;
$purple:    #9356DC;
$pink:      #FF79DA;
$green:     #99E2D0;
$lightgrey: #F2F2F2;
$grey-200:  #cdcdcd;
$grey:      grey;
$grey-800:  #343a40;
$black:     #000;

$pink-100:  #ffccf1;
$purple-100:#e4d5f6;
$pink-gradient: linear-gradient(350deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
$black-gradient: linear-gradient(180deg, rgba(33,37,41,1) 0%, rgba(73,80,87,1) 100%);

$primary:   $purple;
$secondary: $pink;
$terciary:  $green;

.lightgrey{
    color: $lightgrey;
}

.grey{
    color: $grey;
}

/*  */