.btn{
    border-radius: 25px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 0;
    &-pink{
        padding: 1em;
        background: $pink-gradient;
        color: $white;
        &:hover{
            opacity: .9;
            box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
        }
    }
    &-grey{
        padding: 1.5em;
        background: $lightgrey;
        &:hover{
            opacity: .9;
            background-color: rgba(228, 213, 246, .5);
            box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
        }
    }
    &-infos{
        padding: 1em;
        width: 300px;
        font-weight: lighter;
    }
    &-white{
        background-color: $white;
        width: 80%;
        margin: 1em auto;
        display: flex;
        justify-content: space-between;
        .btn-infos{
            transition: width .4s linear;
        }
        .checked-fill{
            text-align: center;
            position: relative;
            color: transparent;
            background-color: $green;
            border-radius: 0 25px 25px 0;
            width: 0;
            opacity: 0;
            transition: all .4s linear;
        }
        .fas{
            position: absolute;
            top: 33%;
            left: 33%;
            transition: all .4s linear;
        }
        &:hover{
            .btn-infos{
                width: 220px;
            }
            .checked-fill{
                color: $white;
                width: 80px;
                border-radius: 0 25px 25px 0;
                opacity: 1;
            }
            .fas{
                font-size: 25px;
                transform: rotate(360deg);
            }
        }
    }
    &-purple{
        padding: 1em;
        background: $pink-gradient;
        color: $white;
        text-align: center;
        width: 60%;
        max-width: 300px;
        max-height: 20px;
        margin: 0 auto 3rem auto;
        &:hover{
            opacity: .9;
            box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
        }
    }
}

.btn1, .btn2, .btn3, .btn4{
    animation: progresive-apparition .3s linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.btn2{
    @include animation-delais(.2s);
}

.btn3{
    @include animation-delais(.4s);
}

.btn4{
    @include animation-delais(.6s);
}

@keyframes progresive-apparition {
    0% {
        transform:translateY(15px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform:translateY(0);
    }
}

@media screen and (max-width: 992px) {
    .btn{
        &-white{
            width: 80%;
            &:hover{
                .btn-infos{
                    width: 500px;
                }
            }
        }
        &-infos{
            width: 100%;
        }
    }
}

@media screen and (max-width: 576px) {
    .btn{
        &-white{
            width: 340px;
            &:hover{
                
                .btn-infos{
                    width: 220px;
                }
            }
        }
    }
}