.card-menu{
    border-radius: 25px;
    position: relative;
    width: 45%;
    margin: 1em auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    img{
        border-radius: 25px 25px 0 0;
        width: 100%;
        max-height: 240px;
        object-fit: cover;
    }
    .popup{
        position: absolute;
        top: 0;
        right: 1em;
        background-color: $green;
        color: green;
        padding: .5em 1em;
        border-radius: 4px;
    }
    .card-body{
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 1em;
    }
    .fas{
        position: absolute;
        background: -webkit-linear-gradient(270deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        opacity: 0;
        right: 1em;
        top: 1em;
        font-size: 1.5em;
        transition: all .4s linear;
        &:hover{
            opacity: 1;
        }
    }
    .far{
        position: absolute;
        right: 1em;
        top: 1em;
        font-size: 1.5em;
    }
    a{
        font-weight: lighter;
    }
}

@media screen and (max-width: 992px) {
    .card-menu{
        width: 90%;
        img{
            width: 100%;
            max-height: 170px;
        }
    }
}