.loading-spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: disparition 2s linear forwards;
    z-index: 1;
    &::before {
        content: "LOADING";
        z-index: 2;
        text-align: center;
        color: $pink;
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 240px;
        overflow: hidden;
        background: #0b0b0b;
        opacity: .95;
    }
    &::after {
        width: 150px;
        height: 150px;
        box-sizing: border-box;
        content: "";
        z-index: 2;
        position: absolute;
        top: 250px;
        left: 50%;
        margin: -75px 0 0 -75px;
        border: 15px solid #f3f3f3;
        border-top: 15px solid $pink;
        border-radius: 50%;
        animation: custom-loading 1s ease infinite;
    }
}

@keyframes custom-loading{
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
}

@keyframes disparition{
    0% { 
        opacity: 1; 
    }
    90%{
        z-index: 10;
        opacity: 1;
    }
    100% { 
        display: none;
        z-index: -1;
        opacity: 0; 
    }
}

@media screen and (max-width: 540px) {
    .loading-spinner{
        &::before{
            padding: 240px 0;
        }
    }
}