/* fonts */

@font-face {
    font-family: 'Shrikhand';
    src: url(./fonts/Shrikhand/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-thin';
    src: url(./fonts/Shrikhand/Roboto-Thin.ttf);
}

@font-face {
    font-family: 'Fontawesome';
    src:    url(./fonts/fontawesome/FontAwesome5Free-Regular-400.otf);

}

$police-primary: 'Shrikhand';
$police-secondary: 'Roboto';
$police-secondary-thin: 'Roboto-thin';
$police-terciary: 'Fontawesome';

body, .btn{
    font-family: $police-secondary, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
    font-family: $police-primary;
}

h2{
    font-family: $police-secondary;
}

.restaurant-title h1{
    font-family: $police-primary;
    font-weight: lighter;
}