footer{
    background: $black-gradient;
    color: $white;
    margin-bottom: 0;
    nav{
        max-width: 1400px;
        margin: auto;
    }
    ul{
        list-style: none;
        font-family: $police-secondary;
        padding: 2em;
    }
    li{
        margin: .5em;
        >a{
            text-decoration: none;
            color: $white;
        }
    }
    .fas{
        margin-right: .5em;
        width: 12px;
    }
}