header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    position: relative;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: $white;
    .fas{
        position: absolute;
        top: 1.5em;
        left: 1em;
        color: $black;
    }
}