.operation{
    background-color: $white;
}

.operation-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1400px;
    margin: 1em auto;
    background-color: $white;
    padding-top: 3em;
    padding-bottom: 3em;
    h2{
        font-size: 25px;
        margin-left: 1em !important;
        font-family: 'Roboto', sans-serif;;
    }
    .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .fas{
        margin-right: 1em;
        color: $grey;
    }
    .btn{
        width: 30%;
        margin: 2em;
        text-align: center;
    }
    a{
        position: relative;
    }
    span{
        position: absolute;
        top: 1.4em;
        left: -.8em;
        background: $purple;
        color: $white;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        text-align: center;
    }
}

@media screen and (max-width: 992px) {
    .operation-card{
        .flex{
            flex-direction: column;
        }
        .btn{
            width: 70%;
            margin: auto;
        }
    }
}