.restaurant{
    display: flex;
    flex-wrap: wrap;
    background-color: $lightgrey;
    margin-bottom: 0;
    >h2{
        font-size: 25px;
        margin-left: 1em;
        font-family: $police-secondary;
    }
    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    a{
        text-decoration: none;
        color: black;
        &:visited{
            color: black;
        }
    }
}

@media screen and (max-width: 992px) {
    .restaurant{
        justify-content: flex-start;
    }
}
