.restaurant-intro{
    width: 100%;
    height: 240px;
    max-width: 1400px;
    margin: auto;
}

.palette{
    background-image: url(./imgs/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: cover; 
}

.enchanted{
    background-image: url(./imgs/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-size: cover;
}

.frenchy{
    background-image: url(./imgs/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-size: cover;
}

.delicious{
    background-image: url(./imgs/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-size: cover;
}