.restaurant-menu{
    border-radius: 25px 25px 0 0;
    margin-top: -50px;
    width: 100%;
    background-color: $lightgrey;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    h4{
        margin: 0;
        width: 90%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.restaurant-title{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    >p{
        text-align: center;
        border-radius: 25px 25px 0 0;
        width: 80%;
        background: $white;
        padding: 1em;
        margin: .5em 0 0 0;
        b{
            font-family: $police-primary;
            font-size: 25px;
        }
    }
    >.far{
        position: absolute;
        right: 2em;
        top: 1.2em;
        font-size: 25px;
    }
    >.fas{
        opacity: 0;
        background: -webkit-linear-gradient(270deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        position: absolute;
        right: 2em;
        top: 1.2em;
        font-size: 25px;
        transition: opacity .4s ease-in-out;
        &:hover{
            opacity: 1;
        }
    }
}

.card-selection{
    margin-bottom: 4em;
    width: 420px;
}

@media screen and (max-width: 992px) {
    .restaurant-menu{
        p{
            text-align: left;
        }
    }
    .card-selection{
        width: 100%;
    }
    .restaurant-title{
        >.far{
            right: 1em;
        }
        >.fas{
            right: 1em;
        }
    }
}


.details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    >p{
        margin-bottom: 0;
        font-size: smaller;
    }
    .details-text{
        width: 80%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    b{
        font-weight: bold;
    }
}

.underline{
    margin-left: 2em;
    line-height: 8px;
    span{
        color: $green;
    }
}

.ordering{
    width: 100%;
}

@media screen and (max-width: 992px) {
    .underline{
        margin-left: 5em;
    }
}

@media screen and (max-width: 576px) {
    .underline{
        margin-left: 1.5em;
    }
}