.selection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 2em 2em 4em 2em;
    background-color: $lightgrey;
    p{
        margin: .5em;
        font-weight: lighter;
    }
    h1{
        font-size: 25px;
        font-family: $police-secondary;
    }
    a{
        margin-top: 1em;
        text-decoration: none;
    }
}